.blurredPurple {
  background-color: rgba(75, 0, 130, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.orangeButton {
  display: inline-block;
  text-decoration: none;
  color: #F04400;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.orangeButton:hover {
  color: white;
  background: #F04400;
}
.orangeButton:active {
  color: white;
  background: #4B0082;
}
.sideText {
  font-style: italic;
  font-size: .9em;
  color: DarkGray;
}
.navShowHideTransition {
  transition: transform 0.2s ease-in-out;
}
.translucentBackground {
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.firstButtonActiveState li.tabbarItem#tabbarSpecialItem a.tabbarLink {
  background-color: #4B0082;
}
.firstButtonActiveState li.tabbarItem#tabbarSpecialItem a.tabbarLink span.tabName {
  color: white;
}
.firstButtonActiveState li.tabbarItem#tabbarSpecialItem a.tabbarLink svg {
  fill: white;
}
.firstButtonActiveState li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:first-of-type {
  display: none;
}
.firstButtonActiveState li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:last-of-type {
  display: inline;
}
/* ===================
   NAVIGATION ELEMENTS
   =================== */
#navigationElements {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 50.5px;
}
nav ul,
ul.cellRowGroup {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
/* =================
   TABBAR NAVIGATION
   ================= */
nav#tabbarNavigation {
  position: absolute;
  bottom: 0;
  z-index: 10;
  border-top: 0.5px solid #B2B2B2;
  transition: transform 0.2s ease-in-out;
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
nav#tabbarNavigation ul#tabbarItemList {
  display: flex;
  justify-content: space-around;
}
li.tabbarItem {
  display: block;
  width: 20%;
  position: relative;
}
li.tabbarItem a.tabbarLink {
  height: 50px;
  display: block;
  position: relative;
}
li.tabbarItem a.tabbarLink span.tabName {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  color: #929292;
}
li.tabbarItem a.tabbarLink svg {
  height: 30px;
  width: 100%;
  margin: 3.5px auto;
  fill: #929292;
}
li.tabbarItem a.tabbarLink.noLabel svg {
  transition: transform 0.2s ease-in-out;
  margin: 10px auto;
}
li.tabbarItem a.tabbarLink.active span.tabName {
  color: #4B0082;
}
li.tabbarItem a.tabbarLink.active svg {
  fill: #4B0082;
}
li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:last-of-type {
  display: none;
}
li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:first-of-type {
  display: inline;
}
li.tabbarItem:first-child a.tabbarLink {
  border-right: 0.5px solid #B2B2B2;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
#tabbarTooltip {
  position: absolute;
  background-color: #4B0082;
  color: white;
  bottom: 54px;
  left: 4px;
  display: block;
  text-align: center;
  padding: 4px 7px 6px;
  border-radius: 5px;
  animation: float 3s ease-in-out infinite;
  transition: transform 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out;
  z-index: 1;
}
#tabbarTooltip span {
  position: relative;
  z-index: 3;
  white-space: nowrap;
}
#tabbarTooltip:after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: inherit;
  position: absolute;
  z-index: 0;
  bottom: -5px;
  left: 21px;
  transform: rotate(45deg);
}
#tabbarTooltip.changed {
  display: none;
}
/* ====================
   SECUNDARY NAVIGATION
   ==================== */
nav#secondNavigation {
  padding: 2px 10px;
  vertical-align: bottom;
}
nav#secondNavigation a {
  display: inline-block;
  text-decoration: none;
  color: #4B0082;
  padding: 5px 10px;
}
/* =============
   ACTION DRAWER
   ============= */
#actionDrawerNavigation {
  transition: transform 0.2s ease-in-out;
  position: absolute;
  bottom: 50.5px;
  width: 100%;
  max-height: calc(100vh - 3.3 * 50.5px);
  transform: translateY(100vh);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 50px black;
}
#actionDrawerClosingBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: -1;
}
#actionDrawerTitleBar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 0.5px solid #B2B2B2;
  background-color: white;
  border-bottom: 0.5px solid #B2B2B2;
  position: relative;
  font-size: 17px;
  line-height: 29px;
  padding: 7px 15px 8px;
}
#actionDrawerTitleBar span {
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: block;
}
#actionDrawerTitleBar a#actionDrawerClose {
  position: absolute;
  top: 7px;
  right: 15px;
  text-decoration: none;
  color: #4B0082;
}
#actionDrawerContent {
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* ==========
   FILTER BAR
   ========== */
#navigationElements.filtered #filterIndicationBar {
  display: block;
  position: absolute;
  bottom: 50.5px;
  left: 0;
  right: 0;
  z-index: 8;
  transition: transform 0.2s ease-in-out;
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  border-top: 0.5px solid #B2B2B2;
  font-size: 12px;
  line-height: 14px;
  color: #4B0082;
  /*
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
*/
}
#navigationElements.filtered #filterIndicationBar span {
  white-space: nowrap;
}
#navigationElements.filtered #filterIndicationBar span:before {
  content: ", ";
  white-space: normal;
}
#navigationElements.filtered #filterIndicationBar span:first-of-type:before,
#navigationElements.filtered #filterIndicationBar span:nth-of-type(2):before {
  content: " ";
}
#navigationElements.filtered #filterIndicationBar span.filteredByDarker {
  color: #270043;
}
#navigationElements.filtered li.tabbarItem#tabbarSpecialItem a.tabbarLink {
  background-color: #4B0082;
}
#navigationElements.filtered li.tabbarItem#tabbarSpecialItem a.tabbarLink span.tabName {
  color: white;
}
#navigationElements.filtered li.tabbarItem#tabbarSpecialItem a.tabbarLink svg {
  fill: white;
}
#navigationElements.filtered li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:first-of-type {
  display: none;
}
#navigationElements.filtered li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:last-of-type {
  display: inline;
}
/* =======================
   TABBAR HIDDEN ON SCROLL
   ======================= */
html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown nav#tabbarNavigation {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}
html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown nav#tabbarNavigation a #tabbarTooltip {
  bottom: -100px;
  animation: none;
}
html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown #filterIndicationBar {
  transform: translateY(13px);
}
html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown li.tabbarItem a.tabbarLink.noLabel svg {
  transform: translateY(-6.5px);
}
/* =====================
   ACTION DRAWER TOGGLED
   ===================== */
/* *
   *    When the action drawer is toggled, do the following:
   *    - open the drawer
   *    - lock the tabbar
   *    - hide the filterbar
   *    - change the tabbar button
   *    - shrink the main contents
   *    - darken the background of body
   *    - disable scrollign on html
   * 
 */
main#contents {
  transition-property: opacity, transform, border-radius;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform-origin: top;
}
html:not(.actionDrawerToggled) body {
  transition: background 0.2s ease-in 0.2s;
}
html.actionDrawerToggled {
  overflow: hidden;
}
html.actionDrawerToggled body {
  overflow: hidden;
  background-color: black;
}
html.actionDrawerToggled body main#contents {
  -webkit-transform: scale(0.9, 0.9) translateY(20px);
  transform: scale(0.9, 0.9) translateY(20px);
  opacity: .6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html.actionDrawerToggled body #navigationElements #actionDrawerNavigation {
  transform: translateY(0);
}
html.actionDrawerToggled body #navigationElements #filterIndicationBar {
  transform: translateY(101px);
}
html.actionDrawerToggled body #navigationElements li.tabbarItem#tabbarSpecialItem a.tabbarLink {
  background-color: #4B0082;
}
html.actionDrawerToggled body #navigationElements li.tabbarItem#tabbarSpecialItem a.tabbarLink span.tabName {
  color: white;
}
html.actionDrawerToggled body #navigationElements li.tabbarItem#tabbarSpecialItem a.tabbarLink svg {
  fill: white;
}
html.actionDrawerToggled body #navigationElements li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:first-of-type {
  display: none;
}
html.actionDrawerToggled body #navigationElements li.tabbarItem#tabbarSpecialItem a.tabbarLink svg:last-of-type {
  display: inline;
}
html.actionDrawerToggled body #navigationElements #actionDrawerClosingBackground {
  display: block;
}
/* ===========================
   iOS STYLE CELL ROW ELEMENTS
   =========================== */
.iOSFontStyling {
  font-size: 17px;
  line-height: 29px;
}
.cellSeparator:after {
  content: '';
  position: absolute;
  left: 59px;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
ul.cellRowGroup {
  font-size: 17px;
  line-height: 29px;
  display: block;
  width: 100%;
  margin: 25px auto;
}
ul.cellRowGroup .cellGroupTitle {
  padding: 0 15px;
  font-weight: bold;
}
li.cellRow {
  display: block;
  width: 100%;
  position: relative;
}
li.cellRow:after {
  content: '';
  position: absolute;
  left: 59px;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
li.cellRow:first-of-type {
  border-top: 0.5px solid #B2B2B2;
}
li.cellRow:last-of-type {
  border-bottom: 0.5px solid #B2B2B2;
}
li.cellRow:last-of-type:after {
  content: none;
}
li.cellRow .cellRowContent {
  font-size: 17px;
  line-height: 29px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 100%;
  background-color: white;
  text-decoration: none;
  padding: 7px 15px 8px;
}
.cellIcon {
  height: 29px;
  width: 29px;
  border-radius: 6px;
  background-color: white;
  border: 0.5px solid #B2B2B2;
  overflow: hidden;
  margin-right: 14px;
  display: block;
  text-align: center;
}
.cellIcon svg {
  margin: -0.5px;
  height: 29px;
  width: 29px;
}
.cellIcon i {
  color: #4B0082;
}
.cellIcon i.fa-tag {
  padding-left: 1px;
  padding-top: 7px;
}
.cellIcon i.fa-building {
  padding-left: 2px;
  padding-top: 7px;
}
.cellIcon.search i {
  color: #4885ed;
}
.cellIcon.date i {
  color: #b70909;
}
.cellIcon.tag i {
  color: #27ae60;
}
.cellIcon.archive i {
  color: #a77800;
}
.cellIcon.client i {
  color: #545454;
}
.cellIcon.author i {
  color: #FFDCB1;
}
.cellIcon.video i {
  color: #ff0000;
}
.cellLabel {
  display: block;
  flex-grow: 2;
  color: #270043;
}
.cellValue {
  color: #929292;
  text-align: right;
  max-width: 200px;
  overflow: hidden;
}
.cellValue input,
.cellValue select {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  text-align: right;
}
.cellValue input {
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
  font-size: 17px;
  line-height: 29px;
  padding: 0px 5px;
  margin: 0 -5px;
}
.cellValue input::-webkit-input-placeholder {
  color: #929292;
}
.cellValue input:-ms-input-placeholder {
  color: #929292;
}
.cellValue input:-moz-placeholder {
  color: #929292;
}
.cellValue input::-moz-placeholder {
  color: #929292;
}
.cellValue input:focus {
  text-align: left;
  background-color: #F7F7F7;
  color: #270043;
}
.cellValue input:focus::-webkit-input-placeholder {
  color: #F7F7F7;
}
.cellValue input:focus:-ms-input-placeholder {
  color: #F7F7F7;
}
.cellValue input:focus:-moz-placeholder {
  color: #F7F7F7;
}
.cellValue input:focus::-moz-placeholder {
  color: #F7F7F7;
}
.cellValue select {
  direction: rtl;
}
.cellValue select option,
.cellValue select optgroup {
  direction: ltr;
}
.cellClosingIcon {
  height: 29px;
  float: right;
}
.cellClosingIcon.download svg {
  fill: #4B0082;
  height: 29px;
  margin-right: -9px;
}
.cellClosingIcon.chevron svg {
  fill: #929292;
}
.cellClosingIcon.deleteFilter {
  font-size: 22px;
  padding: 10px;
  margin: -10px -10px -10px 0;
  display: none;
}
.cellClosingIcon.deleteFilter:hover {
  text-decoration: none;
}
li.cellRow.filterOn .cellRowContent .cellValue {
  color: #270043;
}
li.cellRow.filterOn .cellRowContent .cellClosingIcon.deleteFilter {
  display: block;
}
li.cellRow.resetFilters .cellLabel {
  text-align: center;
  color: red;
}
li.cellRow.contactItem a .cellIcon svg {
  fill: white;
}
li.cellRow.contactItem a .cellIcon:not(#contactIcon_snapchat) {
  border: none;
}
li.cellRow.contactItem a .cellIcon:not(#contactIcon_snapchat) svg {
  padding-top: 1px;
}
li.cellRow.contactItem a .cellIcon#contactIcon_snapchat svg {
  stroke: black;
  stroke-width: 2px;
}
li.cellRow.contactItem a .cellIcon#contactIcon_instagram {
  /* Instagram CSS gradient by Ana Tudor https://codepen.io/thebabydino/pen/qZvvBM */
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
input[type="checkbox"] {
  display: none;
}
.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 9px;
  margin: auto;
  width: 51px;
  height: 31px;
}
.toggle label,
.toggle i {
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}
.toggle label {
  cursor: pointer;
  width: 51px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #e5e5e5;
  transition: all 0.30s ease;
}
.toggle i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45);
}
input[type="checkbox"]:active + .toggle i {
  width: 35px;
}
input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
  border: 16px solid #4cd964;
}
input[type="checkbox"]:checked + .toggle i {
  left: 21px;
}
input[type="checkbox"]:checked:active + .toggle label {
  border: 16px solid #e5e5e5;
}
input[type="checkbox"]:checked:active + .toggle i {
  left: 14px;
}
/* ===============
   DESKTOP STYLING
   =============== */
