/* ========================
   COLORS
   ======================== */
.translucentBackground {
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* ========================
   SIZES & MEASUREMENTS
   ======================== */
/* ========================
   MEDIA QUERIES (DEVICES SIZES)
   ======================== */
/* ========================
   TRANSITIONS
   ======================== */
.navShowHideTransition {
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
}
/* ========================
   ELEMENTS
   ======================== */
.orangeButton {
  display: inline-block;
  text-decoration: none;
  color: #F04400;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.orangeButton:hover {
  color: white;
  background: #F04400;
}
.orangeButton:active {
  color: white;
  background: #4B0082;
}
.sideText {
  font-style: italic;
  font-size: .9em;
  color: DarkGray;
}
.iOSFontStyling {
  font-size: 17px;
  line-height: 29px;
}
.cellSeparatorGeneral {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.cellSeparatorWithIcon:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
  left: 64px;
}
.cellSeparatorWithoutIcon:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
  left: 20px;
}
.tabbarButtonActiveState a.tabbarLink {
  background-color: #4B0082;
}
.tabbarButtonActiveState a.tabbarLink span.tabName {
  color: white;
}
.tabbarButtonActiveState a.tabbarLink svg {
  fill: white;
}
.tabbarButtonActiveState a.tabbarLink svg:first-of-type {
  display: none;
}
.tabbarButtonActiveState a.tabbarLink svg:last-of-type {
  display: inline;
}
header#titleHeader {
  background-color: #4B0082;
  color: white;
  width: 100%;
  height: 50px;
}
header#titleHeader a#mainTitle {
  line-height: 50px;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  color: white;
  text-decoration: none;
}
header#titleHeader .logo a {
  position: absolute;
  display: block;
  background: #4B0082;
  top: 10px;
  right: 10px;
  padding: 3px;
  height: 56px;
  width: 56px;
  z-index: 500;
}
header#titleHeader .logo svg {
  fill: #FAFAFA;
}
.logo svg {
  height: 100%;
  width: 100%;
}
main#contents {
  padding-bottom: 50.5px;
}
/* ===================
   NAVIGATION ELEMENTS
   =================== */
#navigationElements {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  height: 50.5px;
}
#navigationElements .logo a {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  z-index: 500;
}
#navigationElements .logo svg {
  fill: #4B0082;
}
nav ul,
ul.cellRowGroup {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
}
/* =================
   TABBAR NAVIGATION
   ================= */
nav#tabbarNavigation {
  position: absolute;
  bottom: 0;
  z-index: 10;
  border-top: 0.5px solid #B2B2B2;
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
nav#tabbarNavigation ul#tabbarItemList {
  display: flex;
  justify-content: space-around;
}
li.tabbarItem {
  display: block;
  flex: 1;
  position: relative;
}
li.tabbarItem a.tabbarLink {
  height: 50px;
  display: block;
  position: relative;
}
li.tabbarItem a.tabbarLink span.tabName {
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 10px;
  color: #929292;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li.tabbarItem a.tabbarLink svg {
  height: 30px;
  width: 100%;
  margin: 3.5px auto;
  fill: #929292;
}
li.tabbarItem a.tabbarLink.noLabel span.tabName {
  display: none;
}
li.tabbarItem a.tabbarLink.noLabel svg {
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
  margin: 10px auto;
}
li.tabbarItem a.tabbarLink.active span.tabName {
  color: #4B0082;
}
li.tabbarItem a.tabbarLink.active svg {
  fill: #4B0082;
}
li.tabbarItem a.tabbarLink svg + svg {
  display: none;
}
li.tabbarItem:nth-last-of-type(4) a.tabbarLink {
  border-right: 1px solid #B2B2B2;
}
/*
@keyframes floatVertically { // Floating animation from https://codepen.io/MarioDesigns/pen/woJgeo
	0% {		transform: translateY(0px);	    }
	50% {		transform: translateY(-3px);	}
	100% {		transform: translateY(0px);   	}
}

@keyframes floatHorizontally {
	0% {		transform: translateX(0px);	    }
	50% {		transform: translateX(-3px);	}
	100% {		transform: translateX(0px);   	}
}

#tabbarTooltip {
    position: absolute;
    background-color: @color1;
    color: white;
    bottom: 54px;
    left: 50%;
    margin-left: -28px;
    display: block;
    text-align: center;
    padding: 4px 7px 6px;
    border-radius: 5px;
   	animation: floatVertically 3s ease-in-out infinite;
    .transitionPlus(bottom; 0.2s; 0s);
    z-index: 1;
    span {
        position: relative;
        z-index: 3;
        white-space: nowrap;
    }
    &:after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: inherit;
        position: absolute;
        z-index: 0;
        bottom: -5px;
        left: 21px;
        transform: rotate(45deg);
    }
    display: none; // Until I decide what to do with the tooltip
    &.changed { // Don't show tooltip again after it's been changed (eg. clicked)
        display: none;
    }
}
*/
/* =============
   ACTION DRAWER
   ============= */
.actionDrawer {
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
  position: absolute;
  bottom: 50.5px;
  width: 100%;
  max-height: calc(100vh - 3.3 * 50.5px);
  transform: translateY(100vh);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 20px 50px black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.actionDrawerClosingBackground {
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  display: none;
  z-index: -1;
}
.actionDrawerTitleBar {
  color: #270043;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 0.5px solid #B2B2B2;
  background-color: white;
  border-bottom: 0.5px solid #B2B2B2;
  position: relative;
  padding: 7px 20px 8px;
}
.actionDrawerTitleBar span {
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: block;
}
.actionDrawerTitleBar input.actionDrawerTitleButton {
  position: absolute;
  top: 7px;
  text-decoration: none;
  color: #4B0082;
}
.actionDrawerTitleBar input#formCancel {
  left: 20px;
}
.actionDrawerTitleBar input#formReset {
  right: 20px;
  color: #F04400;
}
.actionDrawerTitleBar input#formReset:disabled {
  color: #929292;
  opacity: .3;
}
.actionDrawerContent {
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: stretch;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* ==========
   FILTER BAR
   ========== */
/* *
   * Add and alter elements when a view is filtered
 */
html.filtered #filterIndicationBar {
  display: block;
  position: absolute;
  bottom: 50.5px;
  left: 0;
  right: 0;
  z-index: 8;
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
  background-color: rgba(250, 250, 250, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  border-top: 0.5px solid #B2B2B2;
  font-size: 12px;
  line-height: 14px;
  color: #4B0082;
}
html.filtered #filterIndicationBar span:not(.searchTerms) {
  white-space: nowrap;
}
html.filtered #filterIndicationBar span:not(.searchTerms):before {
  content: ", ";
  white-space: normal;
}
html.filtered #filterIndicationBar span:not(.searchTerms):first-of-type:before,
html.filtered #filterIndicationBar span:not(.searchTerms):nth-of-type(2):before {
  content: " ";
}
html.filtered #filterIndicationBar span.sourceTerms,
html.filtered #filterIndicationBar span.searchTerms {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
html.filtered #filterIndicationBar span.searchTerms {
  max-width: 70%;
}
html.filtered #filterIndicationBar span.sourceTerms {
  max-width: 40%;
}
html.filtered #filterIndicationBar span.filteredByDarker {
  color: #270043;
}
html.filtered #filterIndicationBar br:nth-last-child(4),
html.filtered #filterIndicationBar br:nth-last-child(5),
html.filtered #filterIndicationBar br:nth-last-child(6),
html.filtered #filterIndicationBar br:nth-last-child(7),
html.filtered #filterIndicationBar br:nth-last-child(8) {
  display: none;
}
html.filtered li.tabbarItem.tabbarItemPageSpecific.toggles_drawerFilter a.tabbarLink {
  background-color: #4B0082;
}
html.filtered li.tabbarItem.tabbarItemPageSpecific.toggles_drawerFilter a.tabbarLink span.tabName {
  color: white;
}
html.filtered li.tabbarItem.tabbarItemPageSpecific.toggles_drawerFilter a.tabbarLink svg {
  fill: white;
}
html.filtered li.tabbarItem.tabbarItemPageSpecific.toggles_drawerFilter a.tabbarLink svg:first-of-type {
  display: none;
}
html.filtered li.tabbarItem.tabbarItemPageSpecific.toggles_drawerFilter a.tabbarLink svg:last-of-type {
  display: inline;
}
/* =======================
   TABBAR CHANGE ON SCROLL
   ======================= */
/* *
   * Minimize the navigation bar on scrolldown, 
   * show fully on scroll up (if action drawer is not opened)
   * 
 */
html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}
html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation a #tabbarTooltip {
  bottom: -100px;
  animation: none;
}
html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown #filterIndicationBar {
  -webkit-transform: translateY(13px);
  transform: translateY(13px);
}
html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown li.tabbarItem a.tabbarLink.noLabel svg {
  -webkit-transform: translateY(-6.5px);
  transform: translateY(-6.5px);
}
/* *
   * Hide the navigation bar on scrolldown, 
   * show on scroll up (if action drawer is not opened)
   * 
 */
html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation {
  -webkit-transform: translateY(50.5px);
  transform: translateY(50.5px);
}
html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation a #tabbarTooltip {
  bottom: -100px;
  animation: none;
}
html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown #filterIndicationBar {
  -webkit-transform: translateY(50.5px);
  transform: translateY(50.5px);
}
/* =====================
   ACTION DRAWER TOGGLED
   ===================== */
/* *
   *    When the action drawer is toggled, do the following:
   *    - open the drawer
   *    - lock the tabbar
   *    - hide the filterbar
   *    - change the tabbar button
   *    - shrink the main contents
   *    - darken the background of body
   *    - disable scrollign on html
   * 
 */
main#contents {
  transition-property: opacity, transform, border-radius;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  transform-origin: top;
}
html:not(.actionDrawerToggled) body {
  transition: background 0.2s ease-in-out 0s;
  -webkit-transition: background 0.2s ease-in-out 0s;
  -o-transition: background 0.2s ease-in-out 0s;
  -moz-transition: background 0.2s ease-in-out 0s;
  -ms-transition: background 0.2s ease-in-out 0s;
  -kthtml-transition: background 0.2s ease-in-out 0s;
}
html.actionDrawerToggled {
  overflow: hidden;
}
html.actionDrawerToggled body {
  overflow: hidden;
  background-color: black;
}
html.actionDrawerToggled body main#contents {
  -webkit-transform: scale(0.9, 0.9) translateY(20px);
  transform: scale(0.9, 0.9) translateY(20px);
  opacity: .6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
html.actionDrawerToggled body #navigationElements .tabbarItemPageSpecific.actionDrawerToggled a.tabbarLink {
  background-color: #4B0082;
}
html.actionDrawerToggled body #navigationElements .tabbarItemPageSpecific.actionDrawerToggled a.tabbarLink span.tabName {
  color: white;
}
html.actionDrawerToggled body #navigationElements .tabbarItemPageSpecific.actionDrawerToggled a.tabbarLink svg {
  fill: white;
}
html.actionDrawerToggled body #navigationElements .tabbarItemPageSpecific.actionDrawerToggled a.tabbarLink svg:first-of-type {
  display: none;
}
html.actionDrawerToggled body #navigationElements .tabbarItemPageSpecific.actionDrawerToggled a.tabbarLink svg:last-of-type {
  display: inline;
}
html.actionDrawerToggled body #navigationElements .actionDrawer.actionDrawerToggled {
  transform: translateY(0);
}
html.actionDrawerToggled body #navigationElements .actionDrawer.actionDrawerToggled .actionDrawerClosingBackground {
  display: block;
}
html.actionDrawerToggled body #navigationElements #filterIndicationBar {
  transform: translateY(101px);
}
/* ===================================
   iOS STYLE CELL ROW ELEMENTS IN FORM
   =================================== */
/* *
   * Strip default styling from form items
 */
.actionDrawer {
  font-size: 17px;
  line-height: 29px;
}
.actionDrawer select,
.actionDrawer button,
.actionDrawer input {
  font-size: 17px;
  line-height: 29px;
  margin: 0 0 0 auto;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}
ul.cellRowGroup {
  margin: 25px auto;
}
ul.cellRowGroup lh {
  display: block;
  color: #270043;
  padding: 5px 20px;
}
li.cellRow {
  position: relative;
}
li.cellRow:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -0.5px;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
  left: 64px;
}
li.cellRow:first-of-type {
  border-top: 0.5px solid #B2B2B2;
}
li.cellRow:last-of-type {
  border-bottom: 0.5px solid #B2B2B2;
}
li.cellRow:last-of-type:after {
  content: none;
}
.cellRowContent,
input.cellRowContent {
  width: 100%;
  padding: 7px 20px 8px;
  background-color: white;
  display: flex;
  align-content: center;
  flex-flow: row wrap;
}
a.cellRowContent {
  color: #270043;
  text-decoration: none;
  min-height: 44px;
}
.cellRowContent#formApplyFilters {
  text-align: center;
  font-weight: bold;
  display: block;
  color: #4B0082;
  /*
    &:disabled {
        color: @colorInactive;
        font-weight: normal;
    }
*/
}
.cellIcon {
  height: 29px;
  width: 29px;
  border-radius: 6px;
  background-color: white;
  border: 0.5px solid #B2B2B2;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-right: 15px;
}
.cellIcon svg {
  margin: -0.5px;
  height: 29px;
  width: 29px;
}
.cellIcon i {
  color: #4B0082;
}
.cellLabel {
  padding-right: 10px;
}
.cellValue,
input.cellValue,
select.cellValue {
  margin-left: auto;
  color: #929292;
}
.placeholderStyling {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
.placeholderFocusStyling {
  opacity: 0;
  transform: translateX(0px);
}
input.cellValue#inputSearch {
  width: 135px;
  padding: 0 5px;
  margin-right: -5px;
  border-radius: 5px;
  background-color: white;
  transition: background 0.2s ease-in-out 0s;
  -webkit-transition: background 0.2s ease-in-out 0s;
  -o-transition: background 0.2s ease-in-out 0s;
  -moz-transition: background 0.2s ease-in-out 0s;
  -ms-transition: background 0.2s ease-in-out 0s;
  -kthtml-transition: background 0.2s ease-in-out 0s;
}
input.cellValue#inputSearch::-webkit-input-placeholder {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
input.cellValue#inputSearch:-ms-input-placeholder {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
input.cellValue#inputSearch::-ms-input-placeholder {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
input.cellValue#inputSearch:-moz-placeholder {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
input.cellValue#inputSearch::-moz-placeholder {
  color: #929292;
  transform: translateX(90px);
  transition-property: opacity, transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}
input.cellValue#inputSearch:focus {
  background-color: #F7F7F7;
}
input.cellValue#inputSearch:focus::-webkit-input-placeholder {
  opacity: 0;
  transform: translateX(0px);
}
input.cellValue#inputSearch:focus:-ms-input-placeholder {
  opacity: 0;
  transform: translateX(0px);
}
input.cellValue#inputSearch:focus::-ms-input-placeholder {
  opacity: 0;
  transform: translateX(0px);
}
input.cellValue#inputSearch:focus:-moz-placeholder {
  opacity: 0;
  transform: translateX(0px);
}
input.cellValue#inputSearch:focus::-moz-placeholder {
  opacity: 0;
  transform: translateX(0px);
}
span.widthForInputHidden {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  display: none;
}
.cellClosingIcon {
  height: 29px;
  position: absolute;
  right: 20px;
}
.cellClosingIcon.download svg {
  fill: #4B0082;
  height: 29px;
  margin-right: -9px;
}
.cellClosingIcon.chevron svg {
  fill: #929292;
}
.cellClosingIcon.deleteFilter {
  display: none;
  font-size: 22px;
  right: 0px;
  padding: 10px 20px 10px 15px;
  margin-top: -10px;
  height: 44px;
  color: #F04400;
}
.cellClosingIcon.deleteFilter:hover {
  color: #7D01D7;
  text-decoration: none;
}
/* *
   * Change styling when a filter is active
 */
.cellRow.filterOn .cellRowContent {
  padding-right: 45px;
}
.cellRow.filterOn input.cellValue,
.cellRow.filterOn select.cellValue {
  color: #4B0082;
}
.cellRow.filterOn input.cellValue#inputSearch {
  background-color: #F7F7F7;
}
.cellRow.filterOn .cellClosingIcon.deleteFilter {
  display: inline-block;
}
/* *
   * Exceptions and specifics
 */
li.cellRow.contactItem .cellIcon svg {
  fill: white;
}
li.cellRow.contactItem .cellIcon:not(#contactIcon_snapchat) {
  border: none;
}
li.cellRow.contactItem .cellIcon:not(#contactIcon_snapchat) svg {
  padding-top: 1px;
}
li.cellRow.contactItem .cellIcon#contactIcon_snapchat svg {
  stroke: black;
  stroke-width: 2px;
}
li.cellRow.contactItem .cellIcon#contactIcon_instagram {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
}
.cellIcon.fileNflag svg {
  height: 10px;
  width: 10px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  margin: 0;
  border-radius: 7px;
  overflow: hidden;
}
.cellIcon i.fa-tag,
.cellIcon i.fa-twitter,
.cellIcon i.fa-rss {
  padding-left: 1px;
  padding-top: 7px;
}
.cellIcon i.fa-linkedin,
.cellIcon i.fa-file-pdf-o {
  padding-left: 2px;
}
.cellIcon i.fa-newspaper-o,
.cellIcon i.fa-th {
  padding-top: 7px;
}
.cellIcon i.fa-building {
  padding-left: 2px;
  padding-top: 7px;
}
.cellIcon.search i {
  color: #4885ed;
}
.cellIcon.date i,
.cellIcon.year i {
  color: #b70909;
}
.cellIcon.tag i,
.cellIcon.category i {
  color: #27ae60;
}
.cellIcon.archive i {
  color: #a77800;
}
.cellIcon.client i {
  color: #545454;
}
.cellIcon.author i {
  color: #FFDCB1;
}
.cellIcon.video i {
  color: #ff0000;
}
.cellIcon.twitter i {
  color: #33CCFF;
}
.cellIcon.rss i {
  color: orange;
}
.cellIcon.appleNews i {
  color: #fc415b;
}
.cellIcon.linkedin i {
  color: #4875B4;
}
/* *
   * iOS style toggle (checkbox)
   * https://codepen.io/o_ti/pen/bkEco
   * 
 */
.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 20px;
  margin: auto;
  width: 51px;
  height: 31px;
}
.toggle label,
.toggle i {
  box-sizing: border-box;
  display: block;
  background: #ffffff;
}
.toggle label {
  cursor: pointer;
  width: 51px;
  height: 32px;
  border-radius: 32px;
  border: 2px solid #e5e5e5;
  transition: all 0.30s ease;
}
.toggle i {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  background: #ffffff;
  transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:active + .toggle i {
  width: 35px;
}
input[type="checkbox"]:active + .toggle label,
input[type="checkbox"]:checked + .toggle label {
  border: 16px solid #4cd964;
}
input[type="checkbox"]:checked + .toggle i {
  left: 21px;
}
input[type="checkbox"]:checked:active + .toggle label {
  border: 16px solid #e5e5e5;
}
input[type="checkbox"]:checked:active + .toggle i {
  left: 14px;
}
/* ===============
   LANDSCAPE SHORT
   =============== */
@media screen and (min-width: 560px) {
  #navigationElements {
    top: 0;
    right: auto;
    width: 50.5px;
    height: auto;
  }
  nav#tabbarNavigation {
    top: 0;
    border-top: none;
    border-right: 0.5px solid #B2B2B2;
  }
  nav#tabbarNavigation ul#tabbarItemList {
    flex-direction: column;
    height: 100%;
    max-height: 414px;
  }
  li.tabbarItem a.tabbarLink {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li.tabbarItem a.tabbarLink span.tabName {
    position: relative;
  }
  li.tabbarItem:nth-last-of-type(4) a.tabbarLink {
    border-right: none;
    border-bottom: 1px solid #B2B2B2;
  }
  main#contents {
    padding-bottom: 0;
    margin-left: 50.5px;
  }
  #tabbarTooltip {
    animation: floatHorizontally 3s ease-in-out infinite;
    bottom: auto;
    left: 55px;
    margin-left: 0;
  }
  #tabbarTooltip:after {
    left: -6px;
    bottom: 7px;
  }
  .actionDrawer {
    left: calc(50vw + 50.5px /2);
    width: 420px;
    margin-left: calc( -420px / 2 );
    bottom: 0;
    max-height: 90%;
  }
  .actionDrawerClosingBackground {
    left: calc(-50vw + 420px / 2 - 50.5px /2);
  }
  html.filtered #filterIndicationBar {
    width: calc(100vw - 50.5px);
    left: 50.5px;
    bottom: 0;
  }
  html.filtered #filterIndicationBar br {
    display: none;
  }
  html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation,
  html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown nav#tabbarNavigation {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown #filterIndicationBar,
  html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown #filterIndicationBar {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  html:not(.actionDrawerToggled).tabbarMinimizeOnScroll #navigationElements.tabbarOnScrollDown li.tabbarItem a.tabbarLink.noLabel svg,
  html:not(.actionDrawerToggled).tabbarHideOnScroll #navigationElements.tabbarOnScrollDown li.tabbarItem a.tabbarLink.noLabel svg {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* ==============
   LANDSCAPE TALL
   ============== */
@media screen and (min-width: 560px) and (min-height: 600px) {
  header#titleHeader {
    left: 0;
    z-index: 500;
  }
  header#titleHeader a#mainTitle {
    padding-left: 20px;
  }
  nav#tabbarNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .actionDrawer {
    border-radius: 10px;
    transform-origin: top;
    top: 0;
    bottom: auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
    transform: translateY(110vh);
  }
  .actionDrawerContent {
    height: 400px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .actionDrawerClosingBackground {
    top: calc(-50vh + 200px);
  }
  html.actionDrawerToggled body main#contents {
    -webkit-transform: scale(0.9, 0.9) translateY(calc(100vw * 0.05));
    transform: scale(0.9, 0.9) translateY(calc(100vw * 0.05));
    border-radius: 10px;
  }
  html.actionDrawerToggled body #navigationElements .actionDrawer.actionDrawerToggled {
    -webkit-transform: translateY(calc(50vh - 200px));
    transform: translateY(calc(50vh - 200px));
  }
}
/* =======
   DESKTOP
   ======= */
@media screen and (min-width: 1000px) and (min-height: 600px) {
  header#titleHeader {
    display: none;
  }
  header#titleHeader .logo a {
    display: none;
  }
  #navigationElements .logo a {
    display: block;
  }
  nav#tabbarNavigation {
    display: block;
  }
  nav#tabbarNavigation ul#tabbarItemList {
    padding-top: 90px;
  }
  main#contents {
    margin-left: 200px;
  }
  li.tabbarItem {
    height: auto;
  }
  li.tabbarItem a.tabbarLink.noLabel,
  li.tabbarItem a.tabbarLink {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 5px 0;
  }
  li.tabbarItem a.tabbarLink.noLabel svg,
  li.tabbarItem a.tabbarLink svg {
    height: 50px;
    width: 50px;
    margin: auto 10px auto 10px;
  }
  li.tabbarItem a.tabbarLink.noLabel span.tabName,
  li.tabbarItem a.tabbarLink span.tabName {
    font-size: 17px;
    line-height: 50px;
    padding-top: 2px;
    margin-bottom: -2px;
    display: block;
  }
  li.tabbarItem a.tabbarLink.blog svg {
    margin-top: -5px;
  }
  li.tabbarItem a.tabbarLink.noLabel span.tabName {
    font-weight: bold;
  }
  li.tabbarItem a.tabbarLink.noLabel svg {
    padding: 5px;
  }
  li.tabbarItem:first-of-type {
    border-top: 1px solid #B2B2B2;
  }
  .actionDrawer {
    left: calc(50vw + 200px /2);
  }
  .actionDrawerClosingBackground {
    left: calc(-50vw + 420px / 2 - 200px /2);
  }
  html.filtered #filterIndicationBar {
    z-index: 500;
    text-align: left;
    padding: 20px;
    top: 460px;
    width: 200px;
    left: 0;
    bottom: 0;
    line-height: 18px;
    overflow-y: scroll;
  }
  html.filtered #filterIndicationBar br {
    display: inline !important;
  }
  html.filtered #filterIndicationBar span:not(.searchTerms) {
    white-space: normal;
  }
  html.filtered #filterIndicationBar span.searchTerms,
  html.filtered #filterIndicationBar span.sourceTerms {
    display: inline;
  }
  html.actionDrawerToggled body #navigationElements #filterIndicationBar {
    transform: translateY(100vh);
  }
}
/* =============
   MOUSE STYLING
   ============= */
/* =====
   PRINT
   ===== */
