@import "variables.less";

.firstButtonActiveState {
    li.tabbarItem#tabbarSpecialItem a.tabbarLink {
        background-color: @color1;
        span.tabName {
            color: white;
        }
        svg {
            fill: white;
        }
        svg:first-of-type {
            display: none;
        }
        svg:last-of-type {
            display: inline;
        }
    }
}

header#titleHeader {
    background-color: @color1;
    color: white;
    left: 0;
    right: 0;
    height: @titlebarHeight;
    position: absolute;
    z-index: 2;
    a#mainTitle {
        line-height: 50px;
        font-size: 24px;
        font-weight: bold;
        padding-left: @sidePadding;
        color: white;
        text-decoration: none;
    }
    a#mainLogoDesktop,
    a#mainLogo {
        position: absolute;
        background: @color1;
        padding: 3px;
        height: 56px;
        width: 56px;
        top: 17px;
        right: 17px;
        svg {
            height: 100%;
            width: 100%;
            fill: #FAFAFA;
        }
    }
    a#mainLogoDesktop {
        display: none;
    }
}



/* ===================
   NAVIGATION ELEMENTS
   =================== */

#navigationElements {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 400;
    height: @tabbarHeight;
}

nav ul,
ul.cellRowGroup {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
}







/* =================
   TABBAR NAVIGATION
   ================= */

nav#tabbarNavigation {
    position: absolute;
    bottom: 0;
    z-index: 10;
    border-top: @lineThickness solid @colorLine;
    .navShowHideTransition;
    .translucentBackground;
    ul#tabbarItemList {
        display: flex;
        justify-content: space-around;
//         .firstButtonActiveState;
    }
}

li.tabbarItem {
    display: block;
    width: 20%;
    position: relative;
    a.tabbarLink {
        height: 50px;
        display: block;
        position: relative;
        span.tabName {
            position: absolute;
            bottom: 2px;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 10px;
            color: @colorInactive;
        }
        svg {
            height: 30px;
            width: 100%;
            margin: 3.5px auto;
            fill: @colorInactive;
        }
    }
    a.tabbarLink.noLabel {
        span.tabName {
            display: none;
        }
        svg {
            .transitionPlus(transform; 0.2s; 0s);
            margin: 10px auto;
        }
    }
    a.tabbarLink.active {
        span.tabName {
            color: @color1;
        }
        svg {
            fill: @color1;
        }
    }
    &#tabbarSpecialItem a.tabbarLink {
        svg:last-of-type {
            display: none;
        }
        svg:first-of-type {
            display: inline;
        }        
    }
}

li.tabbarItem:first-child a.tabbarLink {
    border-right: @lineThickness solid @colorLine;
}

// Tabbar tooltip
@keyframes floatVertically { // Floating animation from https://codepen.io/MarioDesigns/pen/woJgeo
	0% {		transform: translateY(0px);	    }
	50% {		transform: translateY(-3px);	}
	100% {		transform: translateY(0px);   	}
}

@keyframes floatHorizontally {
	0% {		transform: translateX(0px);	    }
	50% {		transform: translateX(-3px);	}
	100% {		transform: translateX(0px);   	}
}


#tabbarTooltip {
    position: absolute;
    background-color: @color1;
    color: white;
    bottom: 54px;
    left: 50%;
    margin-left: -28px;
    display: block;
    text-align: center;
    padding: 4px 7px 6px;
    border-radius: 5px;
   	animation: floatVertically 3s ease-in-out infinite;
    .transitionPlus(bottom; 0.2s; 0s);
    z-index: 1;
    span {
        position: relative;
        z-index: 3;
        white-space: nowrap;
    }
    &:after {
        content: '';
        width: 15px;
        height: 15px;
        background-color: inherit;
        position: absolute;
        z-index: 0;
        bottom: -5px;
        left: 21px;
        transform: rotate(45deg);
    }
    display: none; // Until I decide what to do with the tooltip
    &.changed { // Don't show tooltip again after it's been changed (eg. clicked)
        display: none;
    }
}






/* ====================
   SECONDARY NAVIGATION
   ==================== */

nav#secondNavigation {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1;
    height: @secondarybarHeight;
    .translucentBackground;
    border-bottom: @lineThickness solid @colorLine;
    padding: 2px 10px;
    vertical-align: bottom;
    #specialItemFromTabbar {
        display: none;
    }
    a {
        display: inline-block;
        text-decoration: none;
        color: @color1;
        padding: 5px 10px;
    }
    a.active {
        font-weight: bold;
    }
}






/* =============
   ACTION DRAWER
   ============= */

@actionDrawerHeight: ~"calc(100vh - 3.3 * @{tabbarHeight})";

#actionDrawerNavigation {
    .navShowHideTransition;
    position: absolute;
    bottom: 50.5px;
    width: 100%;
    max-height: @actionDrawerHeight;
    transform: translateY(100vh);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 50px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;            

}

#actionDrawerClosingBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    display: none;
    z-index: -1;
}

#actionDrawerTitleBar {
    border-top-left-radius:  10px;
    border-top-right-radius: 10px;
    border-top:    @lineThickness solid @colorLine;

    background-color: white;
    border-bottom: @lineThickness solid @colorLine;
    position: relative;
    padding: 7px @sidePadding 8px;
    span {
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: block;
    }
    input.actionDrawerTitleButton {
        position: absolute;
        top: 7px;
        text-decoration: none;
        color: @color1;
    }
    input#formCancel {
        left: @sidePadding;
    }
    input#formReset {
        right: @sidePadding;
        color: @color2;
        &:disabled {
            color: @colorInactive;
            opacity: .3;
        }

    }
}

#actionDrawerContent {
    .translucentBackground;
    align-items: stretch;
    overflow-y: scroll;
    overflow-x: hidden;
}




/* ==========
   FILTER BAR
   ========== */

// Add and alter elements when a view is filtered
html.filtered {
    #filterIndicationBar {
        display: block;
        position: absolute;
        bottom: @tabbarHeight;
        left: 0;
        right: 0;
        z-index: 8;
        .navShowHideTransition;
        .translucentBackground;

        padding: 5px 10px;
        text-decoration: none;
        text-align: center;
        border-top: @lineThickness solid @colorLine;

        font-size: 12px;
        line-height: 14px;
        color: @color1;
        span:not(.searchTerms) {
            white-space: nowrap;
            &:before {
                content: ", ";
                white-space: normal;
            }
            &:first-of-type,
            &:nth-of-type(2) {
                &:before {
                    content: " ";
                }
            }
        }
        span.sourceTerms,
        span.searchTerms {
            display: inline-block; 
            overflow: hidden;
            text-overflow: ellipsis;
        }
        span.searchTerms {
            max-width: 70%;
        }
        span.sourceTerms {
            max-width: 40%;
        }
        span.filteredByDarker {
            color: @colorBodyText;
        }
        br:nth-last-child(4),
        br:nth-last-child(5),
        br:nth-last-child(6),
        br:nth-last-child(7),
        br:nth-last-child(8), { // No line break of there are too many spans in the filterbar
            display: none;
        }
    }
    .firstButtonActiveState;
}





/* =======================
   TABBAR HIDDEN ON SCROLL
   ======================= */

   // Minimize the navigation bar on scrolldown, 
   // show fully on scroll up (if action drawer is not opened)

html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown {
    nav#tabbarNavigation {
        -webkit-transform: translateY(13px);
                transform: translateY(13px);
        a #tabbarTooltip {
            bottom: -100px;
            animation: none;
        }
    }
    #filterIndicationBar {
        -webkit-transform: translateY(13px);
                transform: translateY(13px);
    }
    li.tabbarItem a.tabbarLink.noLabel svg {
        -webkit-transform: translateY(-6.5px);
                transform: translateY(-6.5px);
    }
}






/* =====================
   ACTION DRAWER TOGGLED
   ===================== */

/* *
   *    When the action drawer is toggled, do the following:
   *    - open the drawer
   *    - lock the tabbar
   *    - hide the filterbar
   *    - change the tabbar button
   *    - shrink the main contents
   *    - darken the background of body
   *    - disable scrollign on html
   * 
 */
   
header#titleHeader,
header#titleHeader a#mainLogo,
header#titleHeader a#mainLogoDesktop,
nav#secondNavigation,
main#contents {
    transition-property: opacity, transform, border-radius, background;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    transform-origin: top;
}

html:not(.actionDrawerToggled) body {
    .transitionPlus(background; 0.2s; 0s);
    nav#secondNavigation {
        transition-delay: .05s;
    }
}

html.actionDrawerToggled {
    overflow: hidden;
//     -webkit-overflow-scrolling: auto;
//     height: 100%;
    body {
        overflow: hidden;
        background-color: black;
        header#titleHeader {
            transform: translateY(-150px);
            transition-delay: .05s;
            a#mainLogo {
                transition-delay: .05s;
                transform: translateY(150px);
                background: black;
                transform-origin: top;
                opacity: .6;
            }
        }
        nav#secondNavigation {
            opacity: 0;
            transform: translateY(-150px);
        }
        main#contents {
            -webkit-transform: scale(.9, .9) translateY(20px);
                    transform: scale(.9, .9) translateY(20px);
            opacity: .6;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;            
        }
        #navigationElements {
            #actionDrawerNavigation {
                transform: translateY(0);
            }
            #filterIndicationBar {
                transform: translateY(2* @tabbarHeight);
            }
            .firstButtonActiveState;
            #actionDrawerClosingBackground {
                display: block;
            }
            #actionDrawerContent {
//                 -webkit-overflow-scrolling: touch;
            }
        }
    }
}






/* ===================================
   iOS STYLE CELL ROW ELEMENTS IN FORM
   =================================== */

.iOSFontStyling {
    font-size: 17px;
    line-height: 29px;
}

.cellSeparator {
    &:after {
        content:''; 
        position: absolute;
        left: 64px;
        right: 0px;
        bottom: -@lineThickness;
        z-index: 8;
        background: @colorLine;
        height: @lineThickness;
    }
}

// Strip default styling from form items {
.actionDrawer {
    .iOSFontStyling;
    select, button, input {
        .iOSFontStyling;
        margin: 0 0 0 auto;
    	padding: 0;
        background: none;
        border: none;
        outline: none;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        text-decoration: none;
                border-radius: 0;
        -webkit-border-radius: 0;
    }
}

ul.cellRowGroup {
    margin: 25px auto;
}

li.cellRow {
    position: relative;
    .cellSeparator;
    &:first-of-type {
        border-top:    @lineThickness solid @colorLine;
    }
    &:last-of-type {
        &:after {
            content: none;
        }
        border-bottom: @lineThickness solid @colorLine;
    }
}

.cellRowContent,
input.cellRowContent {
    width: 100%; 
    padding: 7px 20px 8px;
    background-color: white;
    
    display: flex;
    align-content: center;
    flex-flow: row wrap;
}

a.cellRowContent {
    color: @colorBodyText;
    text-decoration: none;
}


.cellRowContent#formApplyFilters {
    text-align: center;
    font-weight: bold;
    display: block;
    color: @color1;
/*
    &:disabled {
        color: @colorInactive;
        font-weight: normal;
    }
*/
}

.cellIcon {
    height: 29px;
    width: 29px;
    border-radius: 6px;
    background-color: white; 
    border: @lineThickness solid @colorLine;
    overflow: hidden;
    text-align: center;

    margin-right: 15px;
    svg {
        margin: -@lineThickness;
        height: 29px;
        width: 29px;
    }
    i {
        color: @color1;
    }

}

.cellLabel {
    padding-right: 10px;
}

input.cellValue,
select.cellValue {
    margin-left: auto;
    color: @colorInactive;
}

.placeholderStyling {
    color: @colorInactive;
    transform: translateX(90px); 
    transition-property: opacity, transform; 
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.placeholderFocusStyling {
    opacity: 0;
    transform: translateX(0px);
}

input.cellValue#inputSearch {
    width: 135px;
    padding: 0 5px;
    margin-right: -5px;
    border-radius: 5px;
    background-color: white;
    .transitionPlus(background; 0.2s; 0s);
    &::-webkit-input-placeholder { .placeholderStyling; }
         &:-ms-input-placeholder { .placeholderStyling; }
        &::-ms-input-placeholder { .placeholderStyling; }
              &:-moz-placeholder { .placeholderStyling; }
             &::-moz-placeholder { .placeholderStyling; }
    &:focus {
        background-color: @colorBackground;
        &::-webkit-input-placeholder { .placeholderFocusStyling; }
             &:-ms-input-placeholder { .placeholderFocusStyling; }
            &::-ms-input-placeholder { .placeholderFocusStyling; }
                  &:-moz-placeholder { .placeholderFocusStyling; }
                 &::-moz-placeholder { .placeholderFocusStyling; }
    }
}

span.widthForInputHidden {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;    
    display: none;
}


.cellClosingIcon {
    height: 29px;
    position: absolute;
    right: 20px;
    &.download svg {
        fill: @color1;
        height: 29px;
        margin-right: -9px
    }
    &.chevron svg {
        fill: @colorInactive;
    }
    &.deleteFilter {
        display: none;
        font-size: 22px;
        right: 0px;
        padding: 10px 20px 10px 15px;
        margin-top: -10px;
        height: 44px;
        color: @color2;
        &:hover {
            color: @color3;
            text-decoration: none;
        }
    }
}

// Change styling when a filter is active
.cellRow.filterOn {
    .cellRowContent {
        padding-right: 45px;
    }
    input.cellValue,
    select.cellValue {
        color: @color1;
    }
    input.cellValue#inputSearch {
        background-color: @colorBackground;
    }
    .cellClosingIcon.deleteFilter {
        display: inline-block;
    }
}


// Exceptions and specifics
li.cellRow.contactItem {
    .cellIcon svg {
        fill: white;
    }
    .cellIcon:not(#contactIcon_snapchat) {
        border: none;
        svg {
            padding-top: 1px;
        }
    }
    .cellIcon#contactIcon_snapchat {
        svg {
            stroke: black;
            stroke-width: 2px;
        }
    }
    .cellIcon#contactIcon_instagram { // Instagram CSS gradient by Ana Tudor https://codepen.io/thebabydino/pen/qZvvBM
        background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    }
}

.cellIcon i {
    &.fa-tag {
        padding-left: 1px;
        padding-top: 7px;                
    }
    &.fa-building {
        padding-left: 2px;
        padding-top: 7px;
    }
}

.cellIcon.search    i { color: #4885ed; }
.cellIcon.date      i,
.cellIcon.year      i { color: #b70909; }
.cellIcon.tag       i,
.cellIcon.category  i { color: @color5; }
.cellIcon.archive   i { color: #a77800; }
.cellIcon.client    i { color: #545454; }
.cellIcon.author    i { color: #FFDCB1; }
.cellIcon.video     i { color: #ff0000; }




/* *
   * iOS style toggle (checkbox)
   * https://codepen.io/o_ti/pen/bkEco
   * 
 */

input[type="checkbox"] {
	display: none;
}

.toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	right: @sidePadding;
	margin: auto;
	width: 51px;
	height: 31px;
    label,
    i {
    	box-sizing: border-box;
    	display: block;
    	background: #ffffff;
    }
    label {
    	cursor: pointer;
    	width: 51px;
    	height: 32px;
    	border-radius: 32px; 
    	border: 2px solid #e5e5e5;
    	transition: all 0.30s ease;
    }
    i {
    	position: absolute;
    	top: 2px;
    	left: 2px;
    	width: 28px;
    	height: 28px;
    	border-radius: 28px;
    	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
    				0 3px 3px 0 rgba(0,0,0, 0.15);
    	background: #ffffff;
    	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
    }
}

input[type="checkbox"] {
    &:active + .toggle i {
    	width: 35px;
    }
    
    &:active + .toggle label,
    &:checked + .toggle label {
    	border: 16px solid #4cd964;
    }
    
    &:checked + .toggle i {
    	left: 21px;
    }
    
    &:checked:active + .toggle label {
    	border: 16px solid #e5e5e5;
    }
    
    &:checked:active + .toggle i {
    	left: 14px;
    }   
}




/* ===============
   LANDSCAPE SHORT
   =============== */

@media screen and (min-width: @screenSizeAtLandscapeShort) {

    header#titleHeader,
    nav#secondNavigation {
        left: @tabbarHeight;
    }
    
    #navigationElements {
        top: 0;
        right: auto;
        width: @tabbarHeight;
        height: auto;
    }
    
    nav#tabbarNavigation {
        top: 0;
        border-top: none;
        border-right: @lineThickness solid @colorLine;
        ul#tabbarItemList {
            flex-direction: column;
            height: 100%;
            max-height: 414px;
        }
    }
    
    li.tabbarItem {
        width: 100%;
        height: 20%;
        a.tabbarLink {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span.tabName {
                position: relative;
            }
        }
    }
    
    li.tabbarItem:first-child a.tabbarLink {
        border-right: none;
        border-bottom: @lineThickness solid @colorLine;
    }

    main#contents {
        margin-left: @tabbarHeight;
    }
    
    #tabbarTooltip {
        animation: floatHorizontally 3s ease-in-out infinite;
        bottom: auto;
        left: 55px;
        margin-left: 0;
        &:after {
            left: -6px;
            bottom: 7px;
        }
    }

    #actionDrawerNavigation {
        left: ~"calc(50vw + @{tabbarHeight} /2)";
        width: @actionDrawerWidth;
        margin-left: ~"calc( -@{actionDrawerWidth} / 2 )";
        bottom: 0;
        max-height: 90%;
    }
    
    #actionDrawerClosingBackground {
        left: ~"calc(-50vw + @{actionDrawerWidth} / 2 - @{tabbarHeight} /2)";
    }
    
    html.filtered {
        #filterIndicationBar {
            width: ~"calc(100vw - @{tabbarHeight})";
            left: @tabbarHeight;
            bottom: 0;
            br {
                display: none;
            }
        }
    }

    html:not(.actionDrawerToggled) #navigationElements.tabbarOnScrollDown {
        nav#tabbarNavigation {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        #filterIndicationBar {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
        li.tabbarItem a.tabbarLink.noLabel svg {
            -webkit-transform: translateY(0);
                    transform: translateY(0);
        }
    }

    html.actionDrawerToggled {
        body {
            header#titleHeader {
                a#mainLogo {
                    transform: translateY(0px);
                }
            }
        }
    }

}

/* ==============
   LANDSCAPE TALL
   ============== */


@media screen and (min-width: @screenSizeAtLandscapeShort) and (min-height: @screenSizeAtLandscapeTallHeight) {

    header#titleHeader {
        left: 0;
        z-index: 500;
        a#mainTitle {
            padding-left: @sidePadding;
        }
    }
    
    nav#secondNavigation {
        left: 0;
        z-index: 401;
    }

    nav#tabbarNavigation {
        ul#tabbarItemList {
            display: block;
            padding-top: calc( @titlebarHeight + @secondarybarHeight);
        }
    }

    #actionDrawerNavigation {
        border-radius: 10px;
        transform-origin: top;
        top: 0;
        bottom: auto;
        box-shadow: 0px 0px 50px rgba(0,0,0,.4);
        transform: translateY(110vh);
    }
    #actionDrawerContent {
        height: 400px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    #actionDrawerClosingBackground {
        top: ~"calc(-50vh + 200px)";

    }

    html.actionDrawerToggled {
        body {
            header#titleHeader {
                a#mainLogo {
                    transform: translateY(150px);
                }
            }

            main#contents {
                -webkit-transform: scale(.9, .9) translateY(~"calc(100vw * 0.05)");
                        transform: scale(.9, .9) translateY(~"calc(100vw * 0.05)");
                border-radius: 10px;
            }

            #navigationElements {
                #actionDrawerNavigation {
                    -webkit-transform: translateY(~"calc(50vh - 200px)");
                            transform: translateY(~"calc(50vh - 200px)");
                }
            }
        }
    }

}

/* =======
   DESKTOP
   ======= */


@media screen and (min-width: @screenSizeAtDesktopWidth) and (min-height: @screenSizeAtDesktopHeight) {


    header#titleHeader {
        a#mainTitle {
            padding-left: calc(@navigationWidthDesktop + @sidePadding);
        }
        a#mainLogoDesktop,
        a#mainLogo {
            right: auto;
            left: 20px;
            top: 20px;
        }
        a#mainLogoDesktop {
            position: fixed;
            display: block;
            background: none;
            svg {
                fill: @color1;
            }
        }
    }

    nav#secondNavigation {
        top: 0;
        z-index: 501;
        height: 50px;
        left: auto;
        padding: 10px;
        display: flex;
        align-items: center;
        background: none;
        border: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        #specialItemFromTabbar {
            display: inline-block;
            svg {
                display: none;
            }
        }
        a {
            color: white;
            padding: 10px @sidePadding;
        }
    }

    nav#tabbarNavigation {
        ul#tabbarItemList {
            padding-top: 110px;
        }
    }

    main#contents {
        margin-left: @navigationWidthDesktop;
        margin-top: @titlebarHeight;
    }


    li.tabbarItem {
        height: auto;
        a.tabbarLink.noLabel,
        a.tabbarLink {
            height: auto;
            width: @navigationWidthDesktop;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            padding: 5px 0;
            svg {
                height: 50px;
                width: 50px;
                margin: auto 10px auto 10px;
            }
            span.tabName {
                font-size: 17px;
                line-height: 50px;
                padding-top: 2px;
                margin-bottom: -2px;
                display: block;
            }
        }
        a.tabbarLink.blog svg {
            margin-top: -5px;
        }
        a.tabbarLink.noLabel {
            border-top: @lineThickness solid @colorLine;
            span.tabName {
                font-style: italic;
            }
            svg {
                padding: 5px;
            }
        }

    }

    li.tabbarItem.drawerToggleButton {
        display: none;
    }

    #actionDrawerNavigation {
        left: ~"calc(50vw + @{navigationWidthDesktop} /2)";
    }
    
    #actionDrawerClosingBackground {
        left: ~"calc(-50vw + @{actionDrawerWidth} / 2 - @{navigationWidthDesktop} /2)";
    }


    html.filtered {
        #filterIndicationBar {
            z-index: 500;
            text-align: left;
            padding: @sidePadding;
            top: 400px;
            width: @navigationWidthDesktop;
            left: 0;
            bottom: 0;
            line-height: 18px;
            overflow-y: scroll; 
            
            br {
                display: inline !important;
            }
            span:not(.searchTerms) {
                white-space: normal;
            }
            span.searchTerms,
            span.sourceTerms {
                display: inline;
            }
        }
        nav#secondNavigation {
            #specialItemFromTabbar a {
                font-weight: bold;
            }
        }
    }

    html:not(.actionDrawerToggled) body {
        nav#secondNavigation {
            transition-delay: 0s;
        }
    }


    html.actionDrawerToggled {
        body {
            #navigationElements {
                #actionDrawerNavigation {
//                     transform: translateY(0px);
                }
            }
            header#titleHeader {
                transition-delay: 0s;
                a#mainLogo {
                    transition-delay: 0s;
                    transform: translateY(0px);
                }
                a#mainLogoDesktop {
                    transform: translateY(150px);                    
                }
            }

        }
    }
}



/* ===============
   DESKTOP STYLING
   =============== */

nav#tabbarNavigation a:hover div#tabbarTooltip span {
//     text-decoration: underline;
}

nav#secondNavigation a:hover {
//     text-decoration: underline;    
}

#actionDrawerNavigation {
//     max-width: 400px;
//     margin: auto calc(.5*(100vw - 400px));
}