/* ========================
   COLORS
   ======================== */
.translucentBackground {
  background-color: rgba(250, 250, 250, 0.85);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* ========================
   SIZES & MEASUREMENTS
   ======================== */
/* ========================
   MEDIA QUERIES (DEVICES SIZES)
   ======================== */
/* ========================
   TRANSITIONS
   ======================== */
.navShowHideTransition {
  transition: transform 0.2s ease-in-out 0s;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -ms-transition: transform 0.2s ease-in-out 0s;
  -kthtml-transition: transform 0.2s ease-in-out 0s;
}
/* ========================
   ELEMENTS
   ======================== */
.orangeButton {
  display: inline-block;
  text-decoration: none;
  color: #F04400;
  padding: 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.orangeButton:hover {
  color: white;
  background: #F04400;
}
.orangeButton:active {
  color: white;
  background: #4B0082;
}
.sideText {
  font-style: italic;
  font-size: .9em;
  color: DarkGray;
}
.iOSFontStyling {
  font-size: 17px;
  line-height: 29px;
}
.cellSeparatorGeneral:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.cellSeparatorGeneral:last-of-type:after {
  content: none;
}
.cellSeparatorWithIcon:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.cellSeparatorWithIcon:last-of-type:after {
  content: none;
}
.cellSeparatorWithIcon:after {
  left: 64px;
}
.cellSeparatorWithoutIcon:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.cellSeparatorWithoutIcon:last-of-type:after {
  content: none;
}
.cellSeparatorWithoutIcon:after {
  left: 20px;
}
.overviewPortfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
}
.cellRow.projectTitle:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.cellRow.projectTitle:last-of-type:after {
  content: none;
}
.cellRow.projectTitle:after {
  left: 20px;
}
.cellRow.projectTitle a.cellRowContent {
  font-weight: bold;
  color: #F04400;
  text-transform: uppercase;
}
.cellRow.projectTitle a.cellRowContent i.fa-archive {
  margin-left: 10px;
  color: #a77800;
}
.portfolioItem {
  position: relative;
  margin: 0;
  width: 100%;
  margin-bottom: 80px;
}
.portfolioItem:last-of-type {
  margin-bottom: 0;
}
.portfolioItem .cellRow.projectTitle:after,
.portfolioItem .cellRow.projectSummary:after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0;
  z-index: 8;
  background: #B2B2B2;
  height: 0.5px;
}
.portfolioItem .cellRow.projectTitle:last-of-type:after,
.portfolioItem .cellRow.projectSummary:last-of-type:after {
  content: none;
}
.portfolioItem .cellRow.projectTitle:after,
.portfolioItem .cellRow.projectSummary:after {
  left: 20px;
}
.portfolioItem .cellRow.projectTitle a.cellRowContent,
.portfolioItem .cellRow.projectSummary a.cellRowContent {
  font-weight: bold;
  color: #F04400;
  text-transform: uppercase;
}
.portfolioItem .cellRow.projectTitle a.cellRowContent i.fa-archive,
.portfolioItem .cellRow.projectSummary a.cellRowContent i.fa-archive {
  margin-left: 10px;
  color: #a77800;
}
.portfolioItem .cellRow.projectTitle p,
.portfolioItem .cellRow.projectSummary p {
  margin: 0;
  padding: 0;
}
.portfolioItem .cellRow.projectTitle hr,
.portfolioItem .cellRow.projectSummary hr {
  display: none;
}
.portfolioItem .cellRow.projectTitle .year,
.portfolioItem .cellRow.projectSummary .year {
  color: #929292;
}
.portfolioItem .cellRow.projectTitle .year:after,
.portfolioItem .cellRow.projectSummary .year:after {
  content: " •";
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo {
  font-size: 15px;
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo i.fa-play-circle,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo i.fa-play-circle {
  font-size: 90%;
  margin-left: 5px;
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo span.playing,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo span.playing {
  display: none;
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo.hide,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo.hide {
  color: #929292;
  pointer-events: none;
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo.hide span.watch,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo.hide span.watch {
  display: none;
}
.portfolioItem .cellRow.projectTitle a.portfolioItemPlayVideo.hide span.playing,
.portfolioItem .cellRow.projectSummary a.portfolioItemPlayVideo.hide span.playing {
  display: inline;
}
.hover-in {
  transition: 0.5s ease-out;
}
.hover-out {
  transition: 0.5s ease-in;
}
.portfolioItemVisualContainer {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  display: block;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.2s ease-out;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar {
  background-color: #dddbdd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e7e9), to(#d2d0d2));
  background-image: -webkit-linear-gradient(top, #e9e7e9, #d2d0d2);
  background-image: -moz-linear-gradient(top, #e9e7e9, #d2d0d2);
  background-image: -o-linear-gradient(top, #e9e7e9, #d2d0d2);
  background-image: -ms-linear-gradient(top, #e9e7e9, #d2d0d2);
  background-image: linear-gradient(top, #e9e7e9, #d2d0d2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#e9e7e9', EndColorStr='#d2d0d2');
  height: 30px;
  border-bottom: 0.5px solid #B2B2B2;
  text-align: center;
  z-index: 2;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar span.browserUI {
  font-size: 30px;
  line-height: 30px;
  display: block;
  position: absolute;
  top: -3px;
  left: 10px;
  letter-spacing: 4px;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar span.browserUI span.red {
  color: #FC625D;
  -webkit-text-stroke: 0.5px #E05552;
  text-stroke: 0.5px #E05552;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar span.browserUI span.yellow {
  color: #FEC041;
  -webkit-text-stroke: 0.5px #DE9F34;
  text-stroke: 0.5px #DE9F34;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar span.browserUI span.green {
  color: #35CC4B;
  -webkit-text-stroke: 0.5px #27AA35;
  text-stroke: 0.5px #27AA35;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .portfolioItemWebbar span.url {
  background: white;
  border-radius: 4px;
  border: 0.5px solid #B2B2B2;
  padding: 2px;
  line-height: 16px;
  font-size: 12px;
  margin: 5px 55px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer .effect-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s ease-out;
  background-size: cover;
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-0 {
  -webkit-transform: translateZ(4px) translateY(-25px);
  transform: translateZ(4px) translateY(-25px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-1 {
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-2 {
  -webkit-transform: translateZ(20px);
  transform: translateZ(20px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-3 {
  -webkit-transform: translateZ(40px);
  transform: translateZ(40px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-4 {
  -webkit-transform: translateZ(60px);
  transform: translateZ(60px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer:hover .layer-5 {
  -webkit-transform: translateZ(80px);
  transform: translateZ(80px);
}
.portfolioItemVisualContainer .portfolioItemLayerContainer a.portfolioItemLink {
  display: block;
}
.portfolioItemVisualContainer .videoContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none;
}
.portfolioItemVisualContainer .videoContainer.show {
  display: block;
}
.portfolioItemVisualContainer:hover .portfolioItemLayerContainer {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}
.portfolioPost {
  margin-bottom: 80px;
}
.portfolioPost h1 {
  text-transform: uppercase;
}
.portfolioPost .portfolioHeaderImage {
  object-fit: cover;
  height: calc(100vh - 2 * 50.5px);
}
.overviewPortfolio.otherProjects .portfolioItem {
  margin-bottom: 20px;
}
/* *
   * Portfolio quick details
 */
.cellRow.open:after {
  height: 1px;
  left: 0;
  background: #4B0082;
  bottom: 0;
}
.cellRow.open .cellLabel {
  font-weight: bold;
}
.cellRow.open .cellClosingIcon.plus {
  transform: rotate(-45deg);
}
.cellRow.indent {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
}
.cellRow.indent ul {
  padding: 0;
  list-style-type: disc;
  margin-left: 20px;
}
.cellRow.indent.show {
  max-height: 1000px;
}
.cellRow.indent.show.last:after {
  height: 1px;
  left: 0;
  background: #4B0082;
  bottom: 0;
}
.cellRow.indent:after {
  left: 74px;
  background: rgba(75, 0, 130, 0.5);
}
.cellRow.indent .cellRowContent {
  background: rgba(75, 0, 130, 0.05);
  padding-left: 30px;
}
.cellRow.indent .cellRowContent .cellLabel {
  padding-right: 0;
}
.cellRow.indent .cellRowContent .cellIcon {
  border: 0.5px solid rgba(75, 0, 130, 0.5);
}
/* *
   * Portfolio PhotoSwipe gallery
 */
.portfolioPhotoGallery {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.portfolioPhotoGallery img {
  width: calc(50vw - 1.5 * 20px);
  height: calc(50vw - 1.5 * 20px);
  object-fit: cover;
}
.portfolioPhotoGallery figure {
  display: block;
  width: auto;
  margin: 10px;
}
.portfolioPhotoGallery figcaption {
  display: none;
}
.photoswipeVideoWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photoswipeVideoThumb {
  position: relative;
  display: block;
}
.photoswipeVideoThumb .photoswipeVideoThumbPlayIcon {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  margin-left: -25px;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 51px;
}
.infoClientLogo {
  /*
    margin: 2rem auto @sidePadding auto;
    display: block;
    max-height: 80px;
    max-width: 300px;
*/
}
/* ===============
   LANDSCAPE SHORT
   =============== */
@media screen and (min-width: 560px) {
  .overviewPortfolio {
    padding: 20px;
  }
  .portfolioItem .cellRow.projectTitle,
  .portfolioItem .cellRow.projectSummary {
    text-align: center;
    border: none;
  }
  .portfolioItem .cellRow.projectTitle:after,
  .portfolioItem .cellRow.projectSummary:after {
    content: none;
  }
  .portfolioItem .cellRow.projectTitle .cellRowContent,
  .portfolioItem .cellRow.projectSummary .cellRowContent {
    background: none;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
  }
  .portfolioItem .cellRow.projectTitle p,
  .portfolioItem .cellRow.projectSummary p {
    margin-top: 17px;
  }
  .portfolioItem .cellRow.projectTitle hr,
  .portfolioItem .cellRow.projectSummary hr {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
  .portfolioItem .cellRow.projectTitle .year,
  .portfolioItem .cellRow.projectSummary .year {
    position: absolute;
    margin-top: -35px;
    left: 0;
    right: 0;
  }
  .portfolioItem .cellRow.projectTitle .year span,
  .portfolioItem .cellRow.projectSummary .year span {
    font-size: 12px;
    padding: 3px;
    background: #F7F7F7;
    display: inline-block;
  }
  .portfolioItem .cellRow.projectTitle .year:after,
  .portfolioItem .cellRow.projectSummary .year:after {
    content: none;
  }
  .portfolioItem .cellRow.projectTitle a.cellRowContent {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 20px 10px;
  }
  .portfolioItem .cellRow.projectTitle a.cellRowContent .cellLabel {
    padding: 0;
  }
  .portfolioItem .cellRow.projectTitle a.cellRowContent .cellClosingIcon {
    display: none;
  }
  .overviewPortfolio.otherProjects p {
    margin-bottom: 0;
  }
  .portfolioItemLayerContainer {
    border-radius: 5px;
  }
  .portfolioItemLayerContainer .portfolioItemWebbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .portfolioItemLayerContainer .layer-1 {
    border-radius: 5px;
  }
  main#contents.portfolio.home footer#pageFooter p {
    text-align: center;
  }
  .portfolioPost .portfolioHeaderImage {
    height: calc(100vh - 50.5px);
  }
  .portfolioPhotoGallery img {
    width: calc(33.333333333vw - 1.5 * 20px - .33333333 * 50.5px);
    height: calc(33.333333333vw - 1.5 * 20px - .33333333 * 50.5px);
    object-fit: cover;
  }
}
/* ==============
   LANDSCAPE TALL
   ============== */
@media screen and (min-width: 560px) and (min-height: 600px) {
  .overviewPortfolio .portfolioItem {
    width: calc( 50% - 20px / 2 );
    margin-bottom: 30px;
  }
  .overviewPortfolio .portfolioItem:nth-of-type(odd) {
    margin-right: calc(10px);
  }
  .overviewPortfolio .portfolioItem:nth-of-type(even) {
    margin-left: calc(10px);
  }
}
/* =======
   DESKTOP
   ======= */
@media screen and (min-width: 1000px) {
  .overviewPortfolio {
    padding: 30px;
    margin-top: 30px;
  }
  .overviewPortfolio .portfolioItem {
    width: calc( 50% - 20px );
    margin-bottom: 80px;
  }
  .overviewPortfolio .portfolioItem:nth-of-type(odd) {
    margin-right: 20px;
  }
  .overviewPortfolio .portfolioItem:nth-of-type(even) {
    margin-left: 20px;
  }
  .portfolioPost .portfolioHeaderImage {
    height: 100vh;
  }
  .portfolioPhotoGallery img {
    width: calc(25vw - 1.5 * 20px - .25 * 200px);
    height: calc(25vw - 1.5 * 20px - .25 * 200px);
    object-fit: cover;
  }
}
/* ==========
   DESKTOP XL
   ========== */
@media screen and (min-width: 1500px) {
  .overviewPortfolio {
    max-width: 1800px;
  }
  .overviewPortfolio .portfolioItem,
  .overviewPortfolio .portfolioItem:nth-of-type(even),
  .overviewPortfolio .portfolioItem:nth-of-type(odd) {
    width: calc( 33.3% - 30px );
    margin-left: calc(15px);
    margin-right: calc(15px);
  }
}
/*

main#contents {
//     max-width: 1400px;
}

// Portfolio overview page
.overviewPortfolio {
    overflow: hidden;
    @media (min-width: @contentWidth) { margin: 0 -.3%; }
    @media (min-width: 1000px) {        margin: 0 -.2%; }
}

.portfolioItem {
    display: block;
    position: relative;
    float: left;
                                        width: 100%;   padding-bottom: 56.25%; margin: 0 0 4px 0;
    @media (min-width: @contentWidth) { width: 49.4%;  padding-bottom: 27.78%; margin: .3%;      }
    @media (min-width: 1000px) {        width: 32.93%; padding-bottom: 18.52%; margin: .2%;      }

    a {
        display: block;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        
        text-decoration: none;
        text-align: center;
        width: 100%;
        height: 100%;
        background-size: 102%;
        background-position: center; 
        background-repeat: no-repeat;
        .transition (background-size);
        &:hover {
            background-size: 106%;
            background-color: @color2;
            background-blend-mode: multiply;
            div.portfolioItemText {
                opacity: 1;
                span {
                    transform: scale(1);
                }
            }
        }
        &:active {
            background-size: 102%;
            background-color: @color1;
            background-blend-mode: multiply;
        }
        div.portfolioItemText {
            position: absolute;
            top: 50%;
            transform: translateY(-40%);
            width: 100%;
            .transition (opacity);
            opacity: 0;
            
            span {
                display: block;
                padding: 0 @sidePadding;
                color: white;
                text-shadow: 0px 0px 3px #000;
                .transition (transform);
                transform: scale(.95);
            }
            span.portfolioItemTitle {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 140%;            
                margin-bottom: 5px;
            }
            span.portfolioItemPlayButton {
                font-size: 300%;
            }
        }
    }    

    .video-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 16;
        display: none;
        a.portfolioLinkOnVideo {
            z-index: 15;
            overflow: hidden;
            .transition (opacity);
            left: 0;
            right: 0;
            top: 0;
            opacity: 0;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: bold;
                    backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
                        color: @color2;  background-color: rgba(255, 255, 255, .8);
            &:hover {   color: white;    background-color: rgba(240,  68,   0, .8);  }
            &:active {  color: white;    background-color: rgba( 75,   0, 130, .8);  }
            i.fa-angle-right {
                margin-left: 10px;
            }
        }
        &:hover a.portfolioLinkOnVideo {
            opacity: 1;
        }
    }
    .video-container.show {
        display: block;
    }
}
*/
/*
@media (min-width: 1300px) {
    main#contents.post.columns {
        max-width: 1200px;
        article.projectPost {
                    column-gap: @objectSpace;
               -moz-column-gap: @objectSpace;
            -webkit-column-gap: @objectSpace;
                    column-count: 2;
               -moz-column-count: 2;
            -webkit-column-count: 2;
            .contentBlock {
                -webkit-column-break-inside: avoid;
                          page-break-inside: avoid;
                               break-inside: avoid;
            }
        }
    }
}
*/
/*

article.projectPost {
    overflow: hidden;
    position: relative;
    .contentBlock {
        overflow: hidden;
    }
}
main#contents.portfolio.post h1 {
    text-align: center;
    margin: 0;
    padding: 0 @sidePadding;
    .transition (font-size);
    @media(min-width: @contentWidth) { font-size: 55px; }
}

.morePostInfoBlock {
    ul {
        padding: @sidePadding;
        li {
            padding-left: 10px;
            ul {
                padding-bottom: 0;
                padding-top: 0;
            }
        }
        li i.fa-li {
            color: @color1;
        }
        li+li {
            margin-top: 5px;
        }

    }
}

.morePostInfoBlock { 
    overflow: auto; // to fix a margin issue from the .infoClientLogo img.
                                   border-top: 1px solid @color1;
                                border-bottom: 1px solid @color1;
    @media(min-width: @contentWidth) { border: 1px solid @color1; }
}

.infoClientLogo {
    margin: 2rem auto @sidePadding auto;
    display: block;
    max-height: 80px;
    max-width: 300px;
}

p#downloads {
    text-align: center;
    .downloadButton {
        .orangeButton;
        border: 1px solid @color2;
        &:hover, &:active {  color: white; text-decoration: none; }
        &:active { border-color: @color1; }
    }
}

.otherProjects {
    h2 {
        text-align: center;
    }
    overflow: hidden;
    .portfolioItem {
        @media (min-width: @contentWidth) {
            margin: 0;
            width: 48%;
            padding-bottom: 27%;
            border-radius: @borderRad;
        }

        overflow: hidden;
        &:first-of-type { float: left; }
        &:last-of-type { float: right; }
    }
}
*/
