* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
html { background-color: #cccccc; }
body {
	overflow: auto;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
	background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
	background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
	background-image: -o-linear-gradient(top, #ffffff, #cccccc);
	background-image: -ms-linear-gradient(top, #ffffff, #cccccc);
	background-image: linear-gradient(top, #ffffff, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#cccccc'); }
::selection { background: #ff9f00; } 
::-moz-selection { background: #ff9f00; }



/*-------------------------------*/



/*Opbouw in blokken*/
.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto; }
.ruimte { 
	height: 40px; 
//	background-color: red; }
#titel_blok {
	height: 60px;
	margin-left: auto;
	margin-right: auto; }
#subtitel_blok {
	position: relative; top: 12px; }
#portfolio_blok { 
	position: static;
	height: 452px; }
#contact_blok { 
	margin-left: auto; 
	margin-right: auto; 
	width: 538px; 
	height: 40px;
//	background-color: white; }
#hover_blok {
	position: relative; top: 12px; }

/*Portfolio onderdelen*/
.top_tekst_l { 
	text-align: left;
	position: absolute;
	z-index: 200;
	left: 0px;
	top: 0px; }
.top_tekst_r { 
	text-align: right;
	position: absolute;
	z-index: 3;
	right: 0px;
	top: 0px; }
.top_tekst_m { 
	text-align: center;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 3;
	top: 0px; }
#portfolio_tekst2 { 
//	background-color: blue; 
	height: 136px;}
#portfolio_tekst_l { 
	width: 440px; 
	position: relative;
	float: left;	
//	background-color: yellow; }
#portfolio_tekst_r { 
	width: 440px; 
	position: relative; 
	float: right;
//	background-color: maroon; }



/*-------------------------------*/



/*Hoofdtitel*/
h1 {
	left: -3px;
	top: -17px;
	position: relative;
	text-align: center;
	font-size: 80px; 
	font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
	color: #969696; }

/*Portfolio slider titel*/
h2 {
	margin-left: 0; 
	margin-bottom: 10px; 
	margin-right: 0; 
	margin-top: 0; 
	font-size:15px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 400; 
	color: #ff9f00;
	text-shadow: 0 1px 0 #333; }

/*Over mij*/
p1 {
	top: 0px;
	position: relative;
	font-size: 15px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300; 
	color: #000; }
	
/*Portfolio slider tekst*/
p2 {
	top: -3px;
	position: relative;
	font-size: 13px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300; 
	color: #FFFFFF;
	text-shadow: 0 1px 0 #222; }

/*Links*/
a.cv_link:link { 	text-decoration: none; color: black; font-weight: 400; }
a.cv_link:visited {	text-decoration: none; color: black; font-weight: 400;}
a.cv_link:hover { 	text-decoration: underline; }
a.cv_link:active {	text-decoration: none; background-color: black;	color: white; }

a.slider_link:link {	text-decoration: none; color: #ff9f00; text-shadow: 0 1px 0 #333; }
a.slider_link:visited {	text-decoration: none; color: #ff9f00; }
a.slider_link:hover {	text-decoration: underline; color: #ff9f00; }
a.slider_link:active {	text-decoration: none; color: black; background-color: #ff9f00;	text-shadow: 0 0px 0 #222; }

a.e_link:link { 	text-decoration: none; color: black; font-weight: 400; }
a.e_link:visited {	text-decoration: none; color: black; font-weight: 400;}
a.e_link:hover { 	text-decoration: underline; }
a.e_link:active {	text-decoration: none; background-color: black;	color: white; }

a.t_link:link { 	text-decoration: none; color: black; }
a.t_link:visited {	text-decoration: none; color: black; }
a.t_link:hover { 	text-decoration: underline; }
a.t_link:active {	text-decoration: underline; }



/*-------------------------------*/



/*Portfolio blokken*/
#altportfolio {	width:900;	height:450; }

#cesli {		top:20px;	left:30px;	width:300px; 	height: 0px;	background-color: #969696;}
#roman_chariot {top:20px;	left:30px;	width:300px; 	height: 0px;	background-color: #969696;}
#douchewand {	top:20px;	left:30px;	width:300px; 	height: 0px;	background-color: #969696;} 
#tassenhulp {	top:20px;	left:30px;	width:300px; 	height: 0px;	background-color: #969696;}



/*-------------------------------*/



#foto {
	position: fixed;
	bottom: 0px;
	right: 10%;
//	background-color: blue;
	width: 211px; height: 250px;
	background-size: 211px 250px;
	background: url('../images/lex.png') no-repeat; 
	z-index: 300; 
	visibility: hidden;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
#kaart {
	position: absolute;
	top: 140px;
//	background-color: blue;
	width: 898px; height: 450px;
	background-size: 898px 450px;
	border:1px solid #ff9f00;
	background: url('../images/kaart.png') no-repeat; 
	z-index: 200; 
	visibility: hidden;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }

.hover_tekst { 
	text-align: center;
	position: absolute; 
	width: 900px;
//	visibility: hidden;
	opacity: 0; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -o-transition: opacity .5s; }

/*Knoppen*/
.button {
	display: inline-block; position: relative;
	margin-left: 5px; margin-right: 5px;
	width: 40px; height: 40px; }
	
	
.tel {
	background: url('../images/c_phone.png') no-repeat; 
	background-size: 40px 80px; }
.tel span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_phone.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.tel:hover span { opacity: 1; }


.mail {
	background: url('../images/c_mail.png') no-repeat;
	background-size: 40px 80px; }
.mail span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_mail.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.mail:hover span { opacity: 1; }


.twitter {
	background: url('../images/c_twitter.png') no-repeat;
	background-size: 40px 80px; }
.twitter span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_twitter.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.twitter:hover span { opacity: 1; }


.facebook { 
	background: url('../images/c_facebook.png') no-repeat;
	background-size: 40px 80px; }
.facebook span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_facebook.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.facebook:hover span { opacity: 1; }


.linkedin {
	background: url('../images/c_linkedin.png') no-repeat;
	background-size: 40px 80px; }
.linkedin span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_linkedin.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.linkedin:hover span { opacity: 1; }


.runkeeper {
	background: url('../images/c_runkeeper.png') no-repeat; 
	background-size: 40px 80px; }
.runkeeper span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_runkeeper.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.runkeeper:hover span { opacity: 1; }


.appnet {
	background: url('../images/c_appnet.png') no-repeat; 
	background-size: 40px 80px; }
.appnet span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_appnet.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.appnet:hover span { opacity: 1; }


.cv {
	background: url('../images/c_cv.png') no-repeat; 
	background-size: 40px 80px; }
.cv span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_cv.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.cv:hover span { opacity: 1; }

#cv3 {	visibility: hidden;}

.location {
	background: url('../images/c_location.png') no-repeat; 
	background-size: 40px 80px; }
.location span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_location.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.location:hover span { opacity: 1; }


.about {
	background: url('../images/c_about.png') no-repeat; 
	background-size: 40px 80px; }
.about span {
	position: absolute;	top: 0; left: 0; bottom: 0; right: 0;
	background: url('../images/c_about.png') no-repeat;
	background-position: 0px -40px; background-size: 40px 80px;
	opacity: 0; -webkit-transition: opacity .8s; -moz-transition: opacity .8s; -o-transition: opacity .8s; }
.about:hover span { opacity: 1; }

	
/*-------------------------------*/