* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
html { background-color: #cccccc; }
body {
	overflow: auto;
	background-color: #ccc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
	background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
	background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
	background-image: -o-linear-gradient(top, #ffffff, #cccccc);
	background-image: -ms-linear-gradient(top, #ffffff, #cccccc);
	background-image: linear-gradient(top, #ffffff, #cccccc);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#cccccc'); }
.container {
	width: 900px;
	margin-left: auto;
	margin-right: auto; }
.ruimte { height: 20px;}
::selection { background: #ff9f00; } 
::-moz-selection { background: #ff9f00; }

/*Opbouw in blokken*/
#titel_blok {}
#overmij_blok {}
#foto {
	margin-bottom: -20px;
	margin-top: -250px;
	background: url('../images/lex.png') no-repeat; 
	height: 250px;
	width: 211px;
	position: relative;
	float: right;
	margin-left: 100px; 
	z-index: 1;}
#portfolio_blok { position: relative; height: 452px;}
#contact_blok { position: relative; height: 35px;}

/*-------------------------------*/

/*Titel*/
h1 {
	margin-bottom: -40px;
	left: -3px;
	top: -17px;
	position: relative;
	text-align: left;
	font-size: 70px; 
	font-family: 'PT Sans Narrow',Helvetica,Arial,sans-serif;
	color: #969696; }

/*-------------------------------*/

/*Over mij*/
p {
	top: -3px;
	position: relative;
	font-size: 15px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300; 
	color: #000; }
.overmij_tekst { width: 550px; }

/*Over mij links*/
a.o_link:link { 	text-decoration: none; color: black; font-weight: 400; }
a.o_link:visited {	text-decoration: none; color: black; font-weight: 400;}
a.o_link:hover { 	text-decoration: underline; }
a.o_link:active {	text-decoration: none; background-color: black;	color: white; }

/*-------------------------------*/

/*Portfolio*/
h2 {
	margin-left: 0; 
	margin-bottom: 10px; 
	margin-right: 0; 
	margin-top: 0; 
	font-size:15px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 400; 
	color: #ff9f00; }
p2 {
	top: -3px;
	position: relative;
	font-size: 13px; 
	font-family: Helvetica,Arial,sans-serif;
	font-weight: 300; 
	color: #FFF; }
.portfolio_tekst { background-color:#000; }
#altportfolio {	width:900;	height:450; }

#cesli {		top:20px;	left:30px;	width:300px; }
#roman_chariot {top:20px;	left:30px;	width:300px; }
#douchewand {	top:20px;	left:30px;	width:300px; } 
#tassenhulp {	top:20px;	left:30px;	width:300px; }

/*Portfolio links*/
a.p_link:link {		text-decoration: none; color: #ff9f00; }
a.p_link:visited {	text-decoration: none; color: #ff9f00; }
a.p_link:hover {	text-decoration: underline; color: #ff9f00; }
a.p_link:active {	text-decoration: none; color: black; background-color: #ff9f00;	}

/*-------------------------------*/

/*Contact*/
.hover_blok {
	top: 21px;
	position: relative; }
.hover_tekst_c {
	left: 10px;
	float: left;
	text-align: right; }
.hover_tekst_l {
	right: 10px;
	float: right;
	text-align: right; }
.button { 
	margin-top: 10px; 
	position: relative; 
	height: 34px; 
	width: 32px; }
.tekst_h { 
	display: none; }


/*Contact knoppen*/
.c_button { 		background-position: 0 0px; float: left; margin-right: 4px; }
.c_button:hover {	background-position: 0 -34px; }
.c_button:active {	background-position: 0 -68px; }

.mail {		background: url('../images/c_mail.png') no-repeat; }
.tel {		background: url('../images/c_telefoon.png') no-repeat; }
.skype {	background: url('../images/c_skype.png') no-repeat; }
.facebook {	background: url('../images/c_facebook.png') no-repeat; }
.twitter {	background: url('../images/c_twitter.png') no-repeat; }
.linkedin {	background: url('../images/c_linkedin.png') no-repeat; }
.cv {		background: url('../images/c_cv.png') no-repeat; }
.runkeeper {background: url('../images/c_runkeeper.png') no-repeat; }
.flickr {	background: url('../images/c_flickr.png') no-repeat; }
.plus {		background: url('../images/c_plus.png') no-repeat; }
.lastfm {	background: url('../images/c_lastfm.png') no-repeat; }
.paypal {	background: url('../images/c_paypal.png') no-repeat; }
.tumblr {	background: url('../images/c_tumblr.png') no-repeat; }
.vimeo {	background: url('../images/c_vimeo.png') no-repeat; }
.youtube {	background: url('../images/c_youtube.png') no-repeat; }
.aboutme {	background: url('../images/c_aboutme.png') no-repeat; }
.instagram {background: url('../images/c_instagram.png') no-repeat; }
.sms {		background: url('../images/c_sms.png') no-repeat; }
.msn {		background: url('../images/c_msn.png') no-repeat; }
.blog {		background: url('../images/c_blog.png') no-repeat; }
.wordpress {background: url('../images/c_wordpress.png') no-repeat; }
.foursquare {background: url('../images/c_foursquare.png') no-repeat; }
.pinterest {background: url('../images/c_pinterest.png') no-repeat; }

/*Taal knoppen*/
.l_button { 		background-position: 0 0px; float: right; margin-left: 4px; }
.l_button:hover {	background-position: 0 -34px; }
.l_button:active {	background-position: 0 -68px; }

.nl {background: url('../images/l_nl.png') no-repeat; }
.en {background: url('../images/l_en.png') no-repeat; }
